body {
    width: 75%;
    margin: auto;
    font-family: sans-serif;
}

b {
    font-weight: bold;
    display: inline-block;
}

table {
    border: none;
}

canvas {
    display: block;
    border: 1px solid black;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}